<h1>Payment Update Notification</h1>

<p>Dear <%= @applicant.name %>,</p>
<p>We would like to inform you that your payment details have been successfully updated. Below are the updated details:</p>
<ul>
  <li><strong>Payable Amount:</strong> <%= @payment_history.payable_amount %></li>
  <li><strong>Paid Amount:</strong> <%= @payment_history.paid_amount %></li>
  <li><strong>Payment Date:</strong> <%= @payment_history.payment_date %></li>
  <li><strong>Balance:</strong> <%= @payment_history.balance %></li>
</ul>
<p>Thank you for your prompt attention to this matter!</p>